<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ckm.settlethescore">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".StartupActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignInActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".Dice"
            android:label="@string/dice"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Life"
            android:label="@string/life_counter"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RocPapSci"
            android:label="@string/rps"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DrawStraw"
            android:label="@string/draw_straws"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>